<table class="table table-stripped table-hover">
  <thead>
    <tr>
      <th>PCX Solutions Inc.</th>
    </tr>
  </thead>
  <tbody>
    <tr class="d-flex">
      <td class="col-2">Address:</td>
      <td >
        311 South River St.,
        Hackensack, NJ 07601 
      </td>
    </tr>
    <tr class="d-flex">
      <td class="col-2">Phone:</td>
      <td>
        201-881-0088
        +1-201-881-0088 
      </td>
    </tr>
    <tr class="d-flex">
      <td class="col-2">E-mail:</td>
      <td>
        contact@pcxusa.com
      </td>
    </tr>
  </tbody>
</table>